<mat-toolbar color="accent" >
    <mat-icon>people</mat-icon>
    <span>Heroes</span>
  </mat-toolbar>
<div>
  <label>Hero name:
    <input matInput placeholder="New Hero" #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<!-- <mat-divider></mat-divider> -->

<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span>{{hero.name}}</a>
      <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>
<!-- 
<div>
  <table mat-table [dataSource]="heroes" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{hero.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{hero.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->
